################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

.vs
.vscode
/docs/build
bin
obj
/output

/Yandex.Music.Api.sln.DotSettings.user
/Yandex.Music.Api/Yandex.Music.Api.csproj.user







